@* <h1>To Do List Item Details: </h1>

<h2>@Model["item"].GetDescription()</h2>
<h3>Category: @Model["category"].GetName()</h3>

<a href='/categories/@Model["category"].GetId()/items/new'>Add another item</a>
<a href='/categories'>View all categories</a> *@

<h3>Here are all the items in this category:</h3>

<h2>@Model["category"].GetName()</h2>

<ol>
@foreach (var item in @Model["items"])
{
  <li><a href='/categories/@Model["category"].GetId()/items/@item.GetId()'>@item.GetDescription()</a></li>
}
</ol>

<p><a href='/categories/@Model["category"].GetId()/items/new'>Add a new item</a></p>
<p><a href='/categories'>Return to category list</a></p>
<p><a href='/'>Return to Main Page</a></p>
